{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="container">
  <div class="row">
    {% if user %}
    <!-- Left Container -->
    <div class="col-lg-4 p-3">
      <div class="card d-flex mb-3 m-3">
        <div class="card-body pb-0">
          <div class="d-flex mb-3">
            <img class="flex" src="{{ url_for('static', filename='assets/person.svg') }}" width="60" height="60">
            <div class="flex-grow-1 ms-3">
              <h2 class="card-title mb-1">{{ user.first_name }}</h2>
              <h6 class="card-subtitle text-body-secondary">{{ user.email }}</h6>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{{ url_for('accountInfo') }}" class="link-underline link-underline-opacity-0">
                <img class="me-2" src="{{ url_for('static', filename='assets/right_arrow.svg') }}" width="40" height="40">
                <span class="badge bg-success p-2 fs-5 align-middle shadow">Your Info</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="{{ url_for('accountSecurity') }}" class="link-underline link-underline-opacity-0">
                <img class="me-2" src="{{ url_for('static', filename='assets/right_arrow.svg') }}" width="40" height="40">
                <span class="badge bg-success p-2 fs-5 align-middle" style="--bs-bg-opacity: .5">Security Settings</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="{{ url_for('accountHist') }}" class="link-underline link-underline-opacity-0">
                <img class="me-2" src="{{ url_for('static', filename='assets/right_arrow.svg') }}" width="40" height="40">
                <span class="badge bg-success p-2 fs-5 align-middle" style="--bs-bg-opacity: .5">Purchase History</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="{{ url_for('activity_history') }}" class="link-underline link-underline-opacity-0">
                <img class="me-2" src="{{ url_for('static', filename='assets/right_arrow.svg') }}" width="40" height="40">
                <span class="badge bg-success p-2 fs-5 align-middle" style="--bs-bg-opacity: .5">Session Activity</span>
              </a>
            </li>
             {% if user.status == 'admin' %}
            <li class="list-group-item">
              <a href="{{ url_for('view_session_flags') }}" class="link-underline link-underline-opacity-0">
                <img class="me-2" src="{{ url_for('static', filename='assets/right_arrow.svg') }}" width="40" height="40">
                <span class="badge bg-danger p-2 fs-5 align-middle" style="--bs-bg-opacity: .85">
                  View Session Flags
                </span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Right Container -->
    <div class="col-lg-8 p-3">
      <div class="card d-flex mb-3 m-3 bg-success-subtle">
        <div class="card-body">
          <h1 class="card-title">Account Info</h1>

          <ul class="list-group list-group-flush">
            <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
              <label class="col-md-3 m-1 fs-6">Name</label>
              <span class="fs-5 p-0">{{ user.first_name }}</span>
              <span class="fs-5 ps-1">{{ user.last_name }}</span>
            </li>
            <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
              <label class="col-md-3 m-1 fs-6">User ID</label>
              <span class="fs-5 p-0">{{ user.id }}</span>
            </li>
            <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
              <label class="col-md-3 m-1 fs-6">Gender</label>
              <span class="fs-5 p-0">{{ user.gender }}</span>
            </li>
            <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
              <label class="col-md-3 m-1 fs-6">Phone Number</label>
              <span class="fs-5 p-0">{{ user.phone_number }}</span>
            </li>
            <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
              <label class="col-md-3 m-1 fs-6">Email</label>
              <span class="fs-5 p-0">{{ user.email }}</span>
            </li>
          </ul>

          <div class="text-end m-2 mt-5">
            <a href="{{ url_for('change_dets', id=user.id) }}" class="btn btn-success">Change Details</a>

            <form action="{{ url_for('delete_user', id=user.id) }}" method="POST" class="d-inline-block">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal_{{ user.id }}">
                Delete Account
              </button>
              <div class="modal" id="deleteModal_{{ user.id }}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body text-start">
                      Are you sure you want to delete {{ user.first_name }} {{ user.last_name }}?

                      <!-- reCAPTCHA widget -->
                      <div class="g-recaptcha mt-3" data-sitekey="{{ captcha_site_key }}"></div>
                    </div>
                    <div class="modal-footer">
                      <input type="submit" value="Delete" class="btn btn-danger">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <!-- 2FA Section -->
            {% if user.two_factor_status == 'enabled' %}
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#disable2FAModal_{{ user.id }}">
                Disable 2FA
              </button>

              <button type="button" class="btn btn-warning mb-1" data-bs-toggle="modal" data-bs-target="#viewCodeModal_{{ user.id }}">
                View Recovery Code
              </button>

              {% if user.face is none %}
                <a href="{{ url_for('setup_face_id', id=user.id) }}" class="btn btn-warning">
                  Setup Face ID
                </a>
              {% else %}
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#disableFaceIDModal_{{ user.id }}">
                  Disable Face ID
                </button>
              {% endif %}


            <!-- Disable 2FA Modal -->
            <div class="modal fade" id="disableFaceIDModal_{{ user.id }}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="{{ url_for('delete_face_id', id=user.id) }}" method="POST">
                    <div class="modal-header">
                      <h5 class="modal-title">Disable Face ID</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                      <strong>Disabling Face ID will remove an additional method of authentication.</strong><br><br>
                      Are you sure you want to <strong>disable</strong> Face ID for <strong>{{ user.email }}</strong>?
                      <br><br>You can always re-register your face later from this page.
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger">Disable Face ID</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

              <!-- Disable 2FA Modal -->
              <div class="modal fade" id="disable2FAModal_{{ user.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form action="{{ url_for('disable_two_factor', id=user.id) }}" method="POST">
                      <div class="modal-header">
                        <h5 class="modal-title">Disable 2FA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-start">
                        <strong>Disabling 2FA will reduce your account’s security.</strong><br><br>
                        Are you sure you want to <strong>disable</strong> 2FA for {{ user.email }}?
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Disable</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- View Recovery Code Modal -->
              <div class="modal fade" id="viewCodeModal_{{ user.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Recovery Code</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                      Use this recovery code to log in if you lose access to your email or cannot receive OTP.<br><br>
                      <strong>Recovery Code:</strong><br>{{ user.recovery_code }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <!-- Enable 2FA Button -->
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#enable2FAModal_{{ user.id }}">
                Enable 2FA
              </button>

              <form action="{{ url_for('enable_two_factor', id=user.id) }}" method="POST" class="d-inline">
                <div class="modal fade" id="enable2FAModal_{{ user.id }}" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Enable 2FA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-start">
                        <strong>Enabling 2FA adds extra protection to your account.</strong><br><br>
                        Are you sure you want to enable 2FA for <strong>{{ user.email }}</strong>?
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
