{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- Left Container -->
    {% if users_list %}
    <div class="col-lg-4 p-3">
      <div class="card d-flex mb-3 m-3">
        <div class="card-body pb-0">
          <div class="d-flex mb-3">
            <img class="flex" src="{{ url_for('static', filename='assets/person.svg') }}" width="60" height="60">
            <div class="flex-grow-1 ms-3">
              <h2 class="card-title mb-1">{{ users_list[-1].get_first_name() }}</h2>
                <h6 class="card-subtitle text-body-secondary">{{ users_list[-1].get_email() }}</h6>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="/accountInfo" class="link-underline link-underline-opacity-0">
                <img class="me-2" src="{{ url_for('static', filename='assets/right_arrow.svg') }}" width="40" height="40">
                <span class="badge bg-success p-2 fs-5 align-middle shadow" >Your Info</span></a>
            </li>

            <li class="list-group-item">
              <a href="/accountSecurity" class="link-underline link-underline-opacity-0">
                <img class="me-2" src="{{ url_for('static', filename='assets/right_arrow.svg') }}" width="40" height="40">
                <span class="badge bg-success p-2 fs-5 align-middle" style="--bs-bg-opacity: .5">Security Settings</span></a>
            </li>

            <li class="list-group-item">
              <a href="/accountHist" class="link-underline link-underline-opacity-0">
                <img class="me-2" src="{{ url_for('static', filename='assets/right_arrow.svg') }}" width="40" height="40">
                <span class="badge bg-success p-2 fs-5 align-middle" style="--bs-bg-opacity: .5">Purchase History</span></a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <!-- Right Container -->
    <div class="col-lg-8 p-3">
      <div class="card d-flex mb-3 m-3 bg-success-subtle">
        <div class="card-body">
          <h1 class="card-title">Account Info</h1>
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
                <label class="col-md-3 m-1 fs-6">Name</label>
                <span class="fs-5 p-0">{{ users_list[-1].get_first_name() }}</span>
                <span class="fs-5 ps-1">{{ users_list[-1].get_last_name() }}</span>
              </li>

              <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
                <label class="col-md-3 m-1 fs-6">User ID</label>
                <span class="fs-5 p-0">{{ users_list[-1].get_user_id() }}</span>
              </li>

              <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
                <label class="col-md-3 m-1 fs-6">Gender</label>
                <span class="fs-5 p-0">{{ users_list[-1].get_gender() }}</span>
              </li>

              <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
                <label class="col-md-3 m-1 fs-6">Phone Number</label>
                <span class="fs-5 p-0">{{ users_list[-1].get_number() }}</span>
              </li>

              <li class="list-group-item row g-3 bg-body-tertiary rounded-pill border-black border-2 m-2">
                <label class="col-md-3 m-1 fs-6">Email Address</label>
                <span class="fs-5 p-0">{{ users_list[-1].get_email() }}</span>
              </li>
            </ul>
              <div class="text-end m-2 mt-5">
                <a href="/changeDets/{{users_list[-1].get_user_id()}}" class="btn btn-success">Change Details</a>
                <form action="{{ url_for('delete_user', id=users_list[-1].get_user_id()) }}" method="POST" class="d-inline-block">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{ users_list[-1].get_user_id() }}">Delete Account</button>
                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{users_list[-1].get_user_id() }}">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Delete Confirmation</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                    <!-- Modal body -->
                            <div class="modal-body text-start">
                              Are you sure you want to delete {{ users_list[-1].get_first_name() }} {{ users_list[-1].get_last_name() }}?
                            </div>
                        <!-- Modal footer -->
                            <div class="modal-footer">
                              <input type="submit" value="Delete" class="btn btn-danger">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
          </div>
          {% else %}
          <div class="alert alert-warning mt-5" role="alert">
            No account information available. Please sign up or log in to access your account.
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
