{% extends "base.html" %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Center the form -->
<div class="d-flex justify-content-center align-items-center mt-3 p-3">
  <div class="card bg-success-subtle w-100" style="max-width: 500px;">
    <div class="card-body">
      <h1 class="text-center m-3 fs-3">You Have Successfully Sign Up</h1>
        <div class="d-flex justify-content-center">
            <a class="btn btn-success mt-3 " href="login">Login</a>
        </div>
    </div>
  </div>
</div>

{% endblock %}
