{% extends "base.html" %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Center the form -->
<div class="d-flex justify-content-center align-items-center mt-3 p-3">
  <div class="card bg-success-subtle w-100" style="max-width: 500px;">
    <div class="card-body">
      <h1 class="text-center mb-4">Login</h1>

      <form method="POST" action="" class="row g-3">
        <div class="form-group col-md-12">
          <div class="input-group">
          {{ render_field(form.email, class="form-control") }}</div>
        </div>

        <div class="form-group col-md-12">
          <div class="input-group">
            {{ render_field(form.pswd, class="form-control ms-1", id="confirmPasswordField") }}
            <button type="button" class="btn btn-outline-success btn-sm" onclick="togglePassword('confirmPasswordField', 'confirmEyeIcon')">
              <i id="confirmEyeIcon" class="fa fa-eye"></i>
            </button>
          </div>
        </div>

        <input type="submit" value="Login" class="btn btn-success mt-4"/>
      </form>

    </div>
  </div>
</div>

<script>
  function togglePassword(passwordFieldId, eyeIconId) {
    var passwordField = document.getElementById(passwordFieldId);
    var eyeIcon = document.getElementById(eyeIconId);

    // Toggle password visibility
    if (passwordField.type === "password") {
      passwordField.type = "text";  // Show password
      eyeIcon.classList.remove("fa-eye");  // Change icon to "eye-slash"
      eyeIcon.classList.add("fa-eye-slash");
    } else {
      passwordField.type = "password";  // Hide password
      eyeIcon.classList.remove("fa-eye-slash");  // Change icon back to "eye"
      eyeIcon.classList.add("fa-eye");
    }
  }
</script>


<!-- Add FontAwesome for the eye icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

{% endblock %}
